/* Fonts */
@font-face {
  font-family: "chintzy";
  src: url(fonts/chintzy.ttf);
}

@font-face {
  font-family: "uni-i";
  src: url(fonts/unisans-ital.otf);
}

@font-face {
  font-family: "uni-b";
  src: url(fonts/Uni\ Sans\ Heavy\ Italic.otf);
}

/* General */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  height: auto;
}

button {
  cursor: pointer;
}

button:hover {
  scale: 1.07;
  color: rgb(194, 3, 3);
  font-weight: bold;
}

main {
  margin-top: 80px;
  display: flex;
  background-color: #c2bfbf;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  background: linear-gradient(to bottom, forestgreen, rgb(18, 74, 18));
  box-shadow: 0 6px 6px rgba(21, 21, 21, 0.929);
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  gap: 30px;
  width: 100vw;
}

.account {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.account > img {
  width: 50px;
  border-radius: 25px;
  border: 1.5px solid black;
}

.logo-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "chintzy";
  font-size: 22px;
}

.logo {
  width: 60px;
}

.logo-container > p, .logo-container > h1 {
  align-items: baseline;
  margin-bottom: -5px;
}

.logo-container > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  color: #c1bfbf;
  margin-bottom: -10px;
  margin-left: -15px;
}

/* Nav Bar */
.nav-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-right: 2px solid black;

  width: 215px;
  height: 100vh;
  padding-top: 30px;
  gap: 40px;
  background-color: #272626;
  color: white;
  font-family: "uni-i";
}

.nav-bar > button {
  border: none;
  height: 40px;
  min-width: 90px;
  max-width: 115px;
  border-radius: 20px;
}

.nav-divide {
  width: 70px;
}

/* Page */
.page {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

/* Inbox */
.container {
  width: 82vw;
  height: 85vh;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: -3px 5px 5px #797676;
  background-color: white;
  padding: 30px 40px;
  padding-bottom: 60px;
}

.title {
  font-size: 30px;
  margin-bottom: 5px;
}

.task {
  display: grid;
  grid-template-columns: .5fr 2fr 1fr 1fr 1fr .5fr;
  flex-wrap: nowrap;
  height: 70px;
  align-items: center;
  font-size: 18px;
}

.new-task-btn {
  margin-top: 20px;
  border: none;
  background-color: white;
  font-style: italic;
  color: #696868;
}